body, html {
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.component{
  border: 1px solid #ccc;
  padding: 15px;
  width: 550px;
}

input {
  margin-top: 10px;
  display: block;
  padding: 10px;
  width: 300px;
}
